[ Scripts ]
    [[ File 1 ]]
        out-file-combined-path = 'resources', 'js', 'combined-1.js' 
        out-file-minified-path =  'resources', 'js', 'minified-1.js' 

        [[[ Files ]]]
            01 = 'resources', 'css', 'one-line.css'
            02 = 'resources', 'css', 'two-line.css'

    [[ File 2 ]]
        out-file-combined-path = 'resources', 'js', 'combined-2.js' 
        out-file-minified-path =  'resources', 'js', 'minified-2.js' 

        [[[ Files ]]]
            01 = 'resources', 'css', 'two-line.css'
            02 = 'resources', 'css', 'one-line.css'

[ Stylesheets ]
    [[ File 1 ]]
        out-File-combined-path =  'resources', 'css', 'combined.css' 
        out-file-minified-path =  'resources', 'css', 'minified.css' 

        [[[ Files ]]]
            01 = 'resources', 'css', 'one-line.css'
            02 = 'resources', 'css', 'two-line.css'
